<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB_nagios" value="10.122.211.208" />
    <add key="database_nagios" value="NAGIOS" />
    <add key="uid_nagios" value="root" />
    <add key="pwd_nagios" value="nagios" />

    <add key="path" value="\\10.122.212.71\IT\MES_team" />

    <add key="smtpMailHost" value="smtp.gmail.com" />
    <add key="smtpMailPort" value="587" />
    <add key="smtpMailCredentialsAdress" value="itroom.reporting@gmail.com" />
    <add key="smtpMailCredentialsPass" value="mobisautoway" />
    <add key="mailMessageFromAddress" value="itroom.reporting@gmail.com" />
    <add key="mailMessageFromName" value="IT-room" />
    <add key="mailMessageSubject" value="Stock Reports" />


  </appSettings>
</configuration>

